@import "../../style-config/mixins.scss";
@import "../../style-config/variable.scss";

.blogs-content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 75px;
    @include mobile-screen {
        flex-direction: column;
        gap: 1.5rem;
        width: 90%;
      }
}